.experience-title, .project-title {
    margin-bottom: 0;
}

.tag {
    display: inline-block;
    padding: 0 4px;
    color: var(--alt-color);
    background-color: var(--accent);
    border-radius: 4px;
    margin: 4px 0;
}

.headings--one-size h2.title-div-text {
    margin: 40px 0 0 0;
}

.headings--one-size h2.title-div-text, .headings--one-size h2.title-div-text-first {
    border-left: 4px solid var(--accent);
    padding-left: 8px;
    display: inline-block;
}

svg.text-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    color: var(--accent);
    align-items: center;
}

div.tags {
    margin: 1em 0 0 0;
}

div.tags-standalone {
    margin: 40px 0 0 0;
}

div.num-people-in-project {
    margin: 0.5em 0 0 0;
    display: flex;
    align-items: center;
}

div.num-people-in-project > * {
    color: var(--accent);
}

div.num-people-in-project > svg {
    fill: var(--accent);
}

div.num-people-in-project > p {
    margin: 0 0 0 6px;
}

.lang-list {
    margin-top: 40px;
}

h3.download-cv {
    text-align: center;
    margin-bottom: 0px;
}